.topnav {
    background-color: #41416B;
    overflow: hidden;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-family: "Sarpanch";
}

.topnav a:hover {
  background-color: black;
  color: gold;
}

    .topnav a.active {
        background-color: #707B9B;
        color: black;
    }

.navimage {
  float: left;
  height: 35px;
  width: 35px;
  padding: 5px;
}

h1 {
  border: 0px solid #707B9B;
  padding: 4px;
  border-radius: 4px;
  background-color: #dbdbe6;
  font-family: "Sarpanch";
}

h2 {
  border: 0px solid #707B9B;
  padding: 4px;
  border-radius: 4px;
  background-color: #dbdbe6;
  font-family: "Sarpanch";
}

p {
  font-family: "Gantari";
  margin: 0.5rem;
}

h3 {
  font-family: "Sarpanch";
}

td {
  font-family: Gantari;
  padding: 5px;
}

th {
  font-family: Gantari;
  padding: 5px;

}

tr:nth-child(even) {
    background-color: #68688E;
}

table {
    border: 5px solid;
    border-color: #41416B;
    width: 100%;
    text-align: center;
    padding: 10px;
    background-color: #8282A6;
    color: black;
    font-size: 18px;
    border-collapse: collapse;
}

ul {
  font-family: Gantari;
}

li {
  font-family: Gantari;
}

footer {
    padding: 15px;
    color: black;
    background-color: #707B9B;
}

html {
    background-color: #CECEDF;
}