.topnav {
    background-color: #41416B;
    overflow: hidden;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-family: "Sarpanch", sans-serif;
}

.topnav a:hover {
  background-color: black;
  color: gold;
}

    .topnav a.active {
        background-color: #707B9B;
        color: black;
    }

.image {
  float: left;
  height: 35px;
  width: 35px;
  padding: 5px;
}

.title h1, h2 {
    border: 0px solid #707B9B;
    padding: 4px;
    border-radius: 4px;
    background-color: #dbdbe6;
    font-family: "Sarpanch";
}

.title h1 {
  font-family: "Sarpanch";
  font-size: 2rem;
  font-weight: 300;
  color: black;
}

.title h2 {
  font-family: "Sarpanch";
  font-size: 1.5rem;
  font-weight: 400;
  color: black;
}

.base p {
  font-family: "Gantari";
  margin: 0.5rem;
}

.base h3 {
  font-family: "Sarpanch";
}

.base td {
  font-family: Gantari;
  padding: 5px;
}

.base th {
  font-family: Gantari;
  padding: 5px;

}

.base tr:nth-child(even) {
    background-color: #68688E;
}

.base table {
    border: 5px solid;
    border-color: #41416B;
    width: 100%;
    text-align: center;
    padding: 10px;
    background-color: #8282A6;
    color: black;
    font-size: 18px;
    border-collapse: collapse;
}

.base ul {
  font-family: Gantari;
}

.base li {
  font-family: Gantari;
}

.base footer {
    padding: 15px;
    color: black;
    background-color: #707B9B;
}

html {
    background-color: #CECEDF;
}